@font-face {
    font-family: HelveticaNeue; /* Гарнитура шрифта */
    src: url(fonts/HelveticaNeue.ttf); /* Путь к файлу со шрифтом */
   }

*{
	padding: 0;
	margin: 0;
}

body{
	background: rgba(0, 0, 0, 0.2) url(img/bg-img.jpg) no-repeat 50% 30%;
	font-family: HelveticaNeue, sans-serif;
	font-size: 14px;
	position: relative;
	background-size: cover;
}

.menu{
	width: 100%;
	height: 36px;
	background: rgba(0, 0, 0, 0) url("img/header-bg.png") repeat-x 0 0;
}

.menu>li{
	height: 36px;
	list-style: none;
	float: left;
	position: relative;
	left: 40%;
}

.menu>li>a{
	display: block;
	text-decoration: none;
    color: #60b5ed;
    height: 36px;
    padding: 0 15px;
    line-height: 36px;
}

.menu>li>a:hover{
	background-color: #4EABDA;
	color: #fff;
}

.image{
	margin: 0 5px;
}

li.active>a:hover{
	background: none;
}

li.active{
	background: url(img/right-li.png) repeat-x;
}
li.active>a{
	color: #fff;
}

li.active>a>span{
	text-decoration: underline;
}

.header img{
	margin-bottom: 3px;
}

.my-form{
	width: 560px;
	position: fixed;
	top: 50%;
	left: 50%;
	/*margin: -306px 0 0 -280px;*/
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
}

.name{
	background: rgba(0, 0, 0, 0.63);
}

h2{
	font-size: 24px;
	color: #fff;
	line-height: 61px;
}

.form{
	width: 560px;
	margin: 2px auto 0;
	background: rgba(0, 0, 0, 0.63);
}

.facebook{
	width: 276px;
	margin: 30px auto 0;
}

.for-facebook img:hover{
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	        box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.ou{
	width: 276px;
	color: #999999;
	font-size: 14px;
	margin: 15px auto;
}

.ou>span{
	display: inline-block;
}

.ou>span:before{
	content: url(img/line.png);
	display: inline-block;
	vertical-align: super;
	margin-right: 4px;
}

.ou>span:after{
	content: url(img/line.png);
	display: inline-block;
	vertical-align: super;
	margin-left: 4px;
}

.line{
	width: 120px;
	height: 1px;
	background-color: #000;
	border-top: 1px solid #666666;
	display: inline-block;
	margin-bottom: 4px;
}

input{
	width: 260px;
	height: 34px;
	background-color: #000;
	border: none;
	border-bottom: 1px solid #494949;
	margin-top: 15px;
	font-size: 14px;
	color: #ccc;
	padding-left: 16px;
}


input:focus{
	border: none;
	border-bottom: 1px solid #494949;
	background-color: #1b5288;
	-webkit-box-shadow: 1px 1px 15px 2px rgba(255,255,255,0.7);
	-moz-box-shadow: 1px 1px 15px 2px rgba(255,255,255,0.7);
	box-shadow: 1px 1px 15px 2px rgba(255,255,255,0.7);
	color: #ffffff;
}

input[type="checkbox"]:focus{
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

label{
	position: relative;
	color: #cccccc;
	vertical-align: top;
	right: 5px;
	top: 14px;
	line-height: 34px;
}

.checkbox{
	width: 10px;
	position: relative;
	right: 10px;
	vertical-align: top;
	background: none;
}

.inp-form{
	width: 276px;
	margin: 0 auto;
}

.login{
	margin-top: 0;
}

.submit{
	width: 151px;
	height: 37px;
	background: url(img/button.png) no-repeat;
	margin: 15px auto;
	padding: 0;
	cursor: pointer;
}

input[type="submit"]:hover{
	-webkit-box-shadow: 0 0 10px rgba(85,161,220,0.5);
	        box-shadow: 0 0 10px rgba(85,161,220,0.5);
}

.form>span{
	display: block;
	color: #ccc;
	width: 400px;
	margin: 0 auto;
}

.form>span:last-child{
	padding-bottom: 10px;
}
