*{
	padding: 0;
	margin: 0;
}

body{
	background-color: #ccc;
}

table{
	width: 500px;
	height: 540px;
	margin: 20px auto;
	border-spacing: 0;
	background-color: #FFF;
}

td{
	border: 5px solid #000;
}

.row1{
	height: 50px;
}

.row1>td{
	border-top: 0;
}

.row1>td:first-child{
	border-left: 0;
}

.row1>td:last-child{
	border-right: 0;
}

.row2{
	height: 130px;
}

.row2>td:first-child{
	border-left: 0;
}

.row2>td:last-child{
	border-right: 0;
}

.row3{
	height: 130px;
}

.row3>td:first-child{
	border-left: 0;
}

.row3>td:last-child{
	border-right: 0;
}

.row4{
	height: 60px;
}

/*.row4>td:first-child{
	border-left: 0;
}*/

.row4>td:last-child{
	border-right: 0;
}

.row5{
	height: 55px;
}

.row5>td:first-child{
	border-left: 0;
	border-bottom: 0;
}

.row5>td:last-child{
	border-right: 0;
}

.row6{
	height: 30px;
}

.row6>td:first-child{
	border-bottom: 0;
}

.row7{
	height: 20px;
}

.row7>td{
	border-bottom:0;
}

.row7>td:last-child{
	border-right: 0;
}

.col1{
	width: 55px;
}

.col2{
	width: 125px;
}

.col3{
	width: 75px;
}

.yellow{
	background-color: #fffd75;
}

.red{
	background-color: #ff6345;
}
.black{
	background-color: #111D19;
}
.blue{
	background-color: #064581;
}